* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tittle {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

body {
  font-family: 'open sans';
}

.container-contact {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* Header init */

header {
  width: 100%;
  height: 600px;
  background: #73BFB4;
  background: -webkit-linear-gradient(to right, hsla(171, 95%, 50%, 0.459), hsla(171, 45%, 52%, 0.664));
  background: linear-gradient(to right, hsla(171, 95%, 50%, 0.459), hsla(171, 45%, 52%, 0.664));
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  padding: 35px 55px 0 0;
  text-align: right;
}

nav > a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  margin-right: 15px;
}

nav > a:hover {
  text-decoration: underline;
}

header .header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 430px;
  width: 100%;
}

.header-text h1 {
  font-size: 55px;
  color: #000;
}

.header-text h2 {
  font-size: 35px;
  color: #000;
  font-weight: 400;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* About me section */

main .about-me {
  padding: 20px 0 60px 0;
}

.container-about-me {
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-me {
  width: 35%;
}

.text-content h3 {
  margin-bottom: 15px;
}

.about-me .text-content {
  width: 45%;
}

/* Portfolio section */

.portfolio {
  background: #f2f2f2;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  width: 30%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.product > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pictures-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: hsla(173, 91%, 27%, 0.7);
  transform: scale(0);
  transition: transform .3s;
}

.pictures-hover img {
  width: 50px;
}

.pictures-hover p {
  color: #fff;
}

.product:hover .pictures-hover {
  transform: scale(1);
}

.text-content p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* Footer */
.footer {
  margin-bottom: 20px;
  text-align: center;
}

.footer h4 {
  border: none;
}

